.sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sectionsid {
    overflow-y: scroll;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 1200px) {
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

ul li {
    margin: 10px;
    cursor: pointer;
}

article {
    margin: 10px;
}

.navigationItem {
    size: 3em;
    text-decoration: underline;
    color: blue;
}

.sectionHighlight {
    background-color: orange;
}

#navigationsid {
    background-color: aqua;
}


/* The header bar */

.navbar {
    position: fixed;
    background-color: white;
    /* Set the navbar to fixed position */
    top: 0px;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}