.sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 1200px) {
    .sections {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 1200px) {
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

ul li {
    margin: 10px;
}

article {
    margin: 10px;
}

.navigationItem {
    size: 3em;
    text-decoration: underline;
    color: blue;
}

.sectionHighlight {
    background-color: orange;
}